<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.anastr.rxlab">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AboutActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.JustActivity" />
        <activity android:name=".activities.FromArrayActivity" />
        <activity android:name=".activities.FromIterableActivity" />
        <activity android:name=".activities.IntervalActivity" />
        <activity android:name=".activities.RangeActivity" />
        <activity android:name=".activities.FlatMapActivity" />
        <activity android:name=".activities.ConcatMapActivity" />
        <activity android:name=".activities.FilterActivity" />
        <activity android:name=".activities.FlatMapAndConcatMapActivity" />
        <activity android:name=".activities.MapActivity" />
        <activity android:name=".activities.TakeActivity" />
        <activity android:name=".activities.SortedActivity" />
        <activity android:name=".activities.SkipActivity" />
        <activity android:name=".activities.DistinctActivity" />
        <activity android:name=".activities.DistinctUntilChangedActivity" />
        <activity android:name=".activities.ElementAtActivity" />
        <activity android:name=".activities.CreateActivity" />
        <activity android:name=".activities.ThrottleLastActivity" />
        <activity android:name=".activities.ThrottleFirstActivity" />
        <activity android:name=".activities.ThrottleWithTimeoutActivity" />
        <activity android:name=".activities.SwitchMapActivity" />
        <activity android:name=".activities.ScanActivity" />
        <activity android:name=".activities.Scan2Activity" />
        <activity android:name=".activities.TakeLastActivity" />
        <activity android:name=".activities.ReduceActivity" />
        <activity android:name=".activities.MergeActivity" />
        <activity android:name=".activities.Zip2Activity" />
        <activity android:name=".activities.Zip3Activity" />
        <activity android:name=".activities.ContainsActivity" />
        <activity android:name=".AlphabeticalOperatorsActivity" />
        <activity android:name=".CreatingOperatorsActivity" />
        <activity android:name=".FilteringOperatorsActivity" />
        <activity android:name=".TransformingOperatorsActivity" />
        <activity android:name=".CombiningOperatorsActivity" />
        <activity android:name=".HotSourcesActivity" />
        <activity android:name=".ComparingActivity" />
    </application>

</manifest>